$font-family: 'Montserrat', sans-serif;





.profile-view-body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  border: 2px solid pink;
  border-radius: 20px;
  padding: 20%;
  margin: 10px;
}


.update-form {
  color: pink;
  padding: 20px;
  margin: 20px;
}

.form-label {
  margin-top: 10px;
}

input[type="text"],
textarea {
  background-color: pink;
  border-radius: 30px;
}

input[type="email"],
textarea {
  background-color: pink;
  border-radius: 30px;
}

input[type="date"],
textarea {
  background-color: pink;
  border-radius: 30px;
}

input[type="password"],
textarea {
  background-color: black;
  border-radius: 30px;
}




.favorite-movie {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;

  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;

    img {
      display: block;
      height: 200px;
      margin: auto;
      border-radius: 15px;
    }

    figcaption {
      text-align: center;

    }

  }







  button {
    display: block;
    margin: auto;
    border-radius: 10px;

  }

}

.card {
  margin-bottom: 20px;

}


.button-update {
  background-color: aqua;
}